.root {
    -fx-background-image: url("/images/outer-space-wallpaper-4351-4405-hd-wallpapers.jpg");
}

#text {
    -fx-font-size: 36px;
    -fx-fill: gold;
}

.label{
    -fx-font-size: 20px;
    -fx-text-fill: gold;
}

#icon{
    -fx-font-size: 35px;
    -fx-fill: gold;
}

.button:hover{
    -fx-text-fill: blue;
    -fx-font-weight:bold;
}

.button {
    -fx-background-color: transparent;
    -fx-min-height: 50;
    -fx-min-width: 50;
    -fx-font-size: 25px;
    -fx-text-fill: gold;
}

#labelarrow{
    -fx-font-size: 50px;
}